*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    padding: 10px 0px;
   justify-content: space-between;
   align-items: center;   
}
.left{
    display: flex;
}
.icon{
    width: 100px;
}
.mid{
    width: fit-content;
    display: flex;
    align-items: center;
}
.input{
   width:24rem;
   height: 40px;
}
.input2{
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
}
.youtubeImg{
    width:2.5rem;
    height: 2.5rem;
    border-radius:50px ;
}
.fa-solid{
   padding-left:1rem;
   margin-right:1rem;
}
.right{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main{
    display: flex;
}
.left2{
    height:35.8rem;
    width: 20%;
    overflow:scroll;
}
.right2{
    height:35.8rem;
    width: 80%;
}
.upper{
font-size: 13px;
margin: 25px 40px;
cursor: pointer;
}
.upper h1{
    margin-top: 20px;
}
.midDiv{
    font-size: 10px;
margin: 25px 40px;
cursor: pointer;
}
.midDiv h1{
    margin-top:20px;
}
.midDiv p{
    font-size:3em;
    font-weight: 800;
}
.midDiv2{
    font-size:9px;
    margin: 25px 40px;
    cursor: pointer;
}
.midDiv2 h1{
    margin-top: 20px;
}
.midDiv2 p{
    font-size:3em;
    font-weight: 800;
}
.mainOpt{
    display: flex;
}

.opt{
    width: 65%;
    display: flex;
    justify-content: space-around;
}
.opt div{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgb(234, 233, 233);
    border-radius:6px;
    width:110px;
    height: 30px;
    cursor: pointer;
}
.opt div:hover{
    background-color:rgb(200, 200, 200);
}
.opt2{
    display: flex;
    width:35%;
}

.one{
  width: 250px;
}
.img1{
    width: 40px;
    height: 30px;
}
.comp{
    display: flex;
    gap: 10px;
}
.one p{
    margin-left: 20px;
    margin-top: 5px;
}
.video{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}
.video iframe{
    border-radius: 10px;
}
@media(max-width:1290px){
    .video{
        display: flex;
        row-gap: 10px;
    }
    .one{
        width: 400px;
    }
    .one iframe{
        width: 400px;
        height: 250px;
    }
}
@media(max-width:1210px){
    .opt div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(234, 233, 233);
        border-radius: 6px;
        width: 80px;
        height: 28px;
        font-size: 12px;
    }
}
@media(max-width:1020px){
    .one{
        width:350px;
    }
    .one iframe{
        width: 350px;
    }
}
@media(max-width:1000px){
.left2{
    width:22% ;
}
.upper {
    font-size: 11px;
    margin: 25px 20px;
}
.midDiv {
    font-size: 8px;
    margin: 25px 20px;
}
.midDiv2 {
    font-size: 8px;
    margin: 25px 20px;
}
}
@media(max-width:940px){
    .opt div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(234, 233, 233);
        border-radius: 6px;
        width: 60px;
        height: 28px;
        font-size: 10px;
    }
}
@media(max-width:920px){
    .one{
        width:300px;
    }
    .one iframe{
        width: 300px;
    }
}
@media(max-width:852px){
    .left2{
        height: 38rem;
    }

}
@media(max-width:870px){
    .input{
        width:19rem;
        height:30px ;
    }
}
@media(max-width:800px){
    .one{
        width:500px;
    }
    .one iframe{
        width: 500px;
    }
}
@media(max-width:765px){
    .input{
        width: 15rem;
    }
    .icon{
        width: 80px;
    }
    .upper {
        font-size: 9px;
        margin: 25px 10px;
    }
    .midDiv {
        font-size: 6px;
        margin: 25px 10px;
    }
    .midDiv2 {
        font-size: 6px;
        margin: 25px 10px;
    }
}
@media(max-width:715px){
   .left2{
    display: none;
   }
   .right2{
    width: 100%;
   }
   .opt div{
     width: 70px;
   }
   .one{
    width:80vw;
}
.one iframe{
    width:80vw;
}
}
@media(max-width:650px){
   .opt div{
    width: 60px;
   }
   .input2{
    width: 230px;
    height:30px;
   }
   .fa-solid{
    margin-left:-10px;
   }

}
@media(max-width:560px){
    .icon{
        width: 60px;
    }
    .right{
        gap: 0px;
    }
    .opt div{
        width: 50px;
        font-size: 8px;
    }
    .input{
        width: 150px;
    }
    .input2{
        width: 180px;
        height: 20px;
    }
    .fa-solid{
         margin-left:-10px;
    }
}
@media(max-width:460px){
    .opt2{
        display: none;
    }
    .opt{
       width: 100%;
    }
    .opt div{
        width: 60px;
        font-size: 10px;
    }
    .input2{
        width: 140px;
    }
    .input{
        width: 110px;
    }
    .fa-solid{
        width: 14px;
    }
    
}
@media(max-width:420px){
    .right img{
        width: 30px;
        height: 25px;
    }
    .icon{
        width: 50px;
    }
    .one{
        width:100vw;
    }
    .one iframe{
        width:100vw;
        height:30vh;
        border-radius: 0px;
    }
    .one p{
        font-size: 12px;
        margin-left: 50px;
    }
}
@media(max-width:380px){
    .opt div{
        width: 50px;
        font-size: 9px;
    }
    .input2{
        width: 110px;
        height: 15px;
    }
    .input{
        width:80px;
    }
    .fa-solid{
        font-size: 13px;
    }
}
@media(max-width:350px){
    .icon{
        width: 40px;
        margin-left:-10px;
    }
    .right img{
        width: 25px;
        height: 20px;
    }
}
@media(max-width:320px){
    .input2{
        width: 90px;
    }
    .input{
        width: 70px;
    }
    .fa-solid{
        font-size: 10px;
        margin-left: -15px;
    }
}
@media(max-width:310px){
    .opt div{
        height: 20px;
        width: 39px;
    }
}
/* @media(max-width:680px){
    .input{
        width: 11rem;
        height:30px ;
    }
    .fa-solid{
       padding-left:0;
       margin-left: 11px;
    }
}
@media(max-width:650px){
    .one{
        width:400px;
    }
    .one iframe{
        width: 400px;
    }
}

@media(max-width:585px){
    .input{
        width: 7rem;
        height:20px;
    }
    .fa-solid{
       width: 10px;
    }
    .youtubeImg{
        width:2.2rem;
        height: 2.2rem;
    }
    .icon{
        width: 65px;
    }
    .upper {
        font-size: 7px;
        margin: 25px 7px;
    }
    .midDiv {
        font-size: 5px;
        margin: 25px 6px;
    }
    .midDiv2 {
        font-size: 5px;
        margin: 25px 6px;
    }
    .opt div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(234, 233, 233);
        border-radius: 6px;
        width: 40px;
        height: 24px;
        font-size: 6px;
    }
}

@media(max-width:530px){
    .one{
        width: 350px;
    }
    .one iframe{
        width: 350px;
        height: 250px;
    }
    .opt
}
@media(max-width:500px){
    .input{
        height: 15px;
    }
    .opt.b{
        display: none;
    }
    .opt.c{
        display: none;
    }
    .opt.d{
        display: none;
    }
    .fa-solid{
        width: 5px;
        padding-left: -20px;
    }
    .toggle{
        height: 10px;
    }
    .opt2{
        display: none;
    }
    .opt{
        width: 100%;
        font-size: 26px;
    }
    .opt div{
        width:70px;
    }
    .upper {
        font-size: 7px;
        margin: 15px 5px;
    }
}
@media(max-width:480px){
    .one{
        width:300px;
    }
    .one iframe{
        width: 300px;
    }
    .fa-solid{
       margin-left: 4px;
    }
    .opt div{
        width: 50px;
        font-size:8px;
    }
}
@media(max-width:435px){
    .left2{
        width: 30%;
    }
}
@media(max-width:415px){
    .one{
        width:250px;
    }
    .one iframe{
        width: 250px;
        height: 150px;
    }
    .one h3{
        font-size: 15px;
    }
    .one p{
        font-size: 10px;
    }
}
@media(max-width:365px){
    .icon{
        width: 50px;
    }
    .input{
        width:80px;
    }
    .one{
        width:210px;
    }
    .one iframe{
        width: 210px;
        height: 150px;
    }
}
@media(max-width:365px){
    .one{
        width:190px;
    }
    .one iframe{
        width: 190px;
        height: 120px;
    }
    .one h3{
        font-size: 12px;
    }
    .left2{
        width: 35%;
    }
    .opt div{
        width: 45px;
        font-size: 6px;
    }
    .right{
        gap: 5px;
    }
    .icon{
       margin-top: 2px;
    }
}
@media(max-width:320px){
 .input2{
    height: 15px;
 }
.upper h1{
    font-size: 10px;
}
.midDiv p{
    font-size: 11px;
}
.midDiv2 p{
    font-size: 10px;
}
} */
